---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)

@import
  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/variables",
  {% endif %}

  "bootstrap",

  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/bootswatch",
  {% endif %}

  "syntax-highlighting",
  "jekyll-doc-theme"
;

.container .post {
    // @media (min-width: $screen-sm-min) {
    //   width: $container-sm;
    // }
    // @media (min-width: $screen-md-min) {
    //   width: $container-md;
    // }
    // @media (min-width: $screen-lg-min) {
    //   width: $container-lg - 250px;      
    // }  
}

#markdown-content-container {
  font-size: 15px;  

  h2 {
    font-size: 30px;
  }  
}

.post-and-toc {
  position: relative;
  justify-content: space-between;
  display: flex;
}

.toc {  
  position: absolute;
  top: 60px;
  right: 0px;
  width: 300px;
  color: inherit;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 0px;
  //font-size: 0.7rem;
  border-left: 2px solid #e0d9e7;  

  display: none;
  @media (min-width: $screen-sm-min) {
    width: 150px;
    display: block;
  }
  @media (min-width: $screen-md-min) {
    width: 200px;
    display: block;
  }
  @media (min-width: $screen-lg-min) {
    width: 250px;
    display: block;
  }

  a.toc-active {
    font-weight: bold;
    transition: all 0.125s ease-in 0s;
    //font-size: 0.75rem;
    color: #9075aa;
  }

  ul {
    list-style-type: none;
    margin-bottom: 0.1rem;
    padding-left: 0rem;
    li {
      padding-left: 0.5rem;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: theme-color;
  }
}