---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)

  // --spacer: 1rem;
  // --spacer-2: calc(var(--spacer) * 2);
  // --spacer-3: calc(var(--spacer) * 3);

  // // https://github.com/necolas/normalize.css/issues/665
  // --body-font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  // --body-font-size: 16px;
  // --body-line-height: 1.5;

$--border-radius: .5em;

  // // https://qwtel.com/posts/software/the-monospaced-system-ui-css-font-stack/
  // --code-font-family: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  /**
   * Color
   */
$--body-bg-color: var(--oc-white);
$--body-color: var(--oc-gray-9);
$--code-bg-color: var(--oc-gray-1);
$--heading-color: var(--oc-black);
$--border-color: var(--oc-violet-1);
$--link-color: var(--oc-blue-9);
$--link-color-rgb: var(--oc-violet-1);
$--link-hover-color: var(--oc-blue-7);
$--info-color: var(--oc-green-9);
$--warning-color: var(--oc-yellow-9);
$--danger-color: var(--oc-red-9);

@import
  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/variables",
  {% endif %}

  "bootstrap",

  {% if site.bootwatch %}
    "bootswatch/{{site.bootwatch | downcase}}/bootswatch",
  {% endif %}

  "syntax-highlighting",
  "jekyll-doc-theme"
;

.post {  
  //position: relative;
}

.post-meta {
  position: relative;
  z-index: 1;
}

.alltags,
.post-categories,
.post-tags {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.4em;
    }
  }

  .post-category {
    border-bottom: 2px dotted $--border-color;
  }
  
  a.post-category {
    color: inherit;
  
    &:hover,
    &:focus {
      border-bottom-style: solid;
      border-color: $--body-color;
      text-decoration: none;
    }
  }
  
  .taxonomy,
  .post-tag {
    padding: 0.2em 0.5em;
    border: 1px solid $--border-color;
    border-radius: $--border-radius;
    //background-color: rgba($--link-color-rgb, 0.3);
    background-color: $--link-color-rgb;
    color: var(--oc-black);
  }
  
  a {
    &:hover,
    &:focus {
      background-color: rgba($--link-color-rgb, 0.6);
      text-decoration: none;
    }
  }
}

.container .post-content {
    @media (min-width: $screen-sm-min) {
      width: $container-sm - 200px;
    }
    @media (min-width: $screen-md-min) {
      width: $container-md - 250px;
    }
    @media (min-width: $screen-lg-min) {
      width: $container-lg - 300px;      
    }  
}

#markdown-content-container {
  font-size: 15px;  

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 30px;
  }
}

.post-and-toc {
  position: relative;
  justify-content: space-between;
  display: flex;
  z-index: 0;  
}

.toc {  
  position: absolute;  
  right: 0px;
  //width: 100%;
  color: inherit;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 0px;
  //font-size: 0.7rem;
  border-left: 2px solid #e0d9e7;  

  display: none;
  @media (min-width: $screen-sm-min) {
    width: 150px;
    display: block;
  }
  @media (min-width: $screen-md-min) {
    width: 200px;
    display: block;
  }
  @media (min-width: $screen-lg-min) {
    width: 250px;
    display: block;
  }

  a.toc-active {
    font-weight: bold;
    transition: all 0.125s ease-in 0s;
    //font-size: 0.75rem;
    color: #9075aa;
  }

  ul {
    list-style-type: none;
    margin-bottom: 0.1rem;
    padding-left: 0rem;
    li {
      padding-left: 0.5rem;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    color: theme-color;
  }
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  //width: auto;  
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 10px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  //color: #fff;
  background-color: var(--oc-violet-1);

}

.tt-suggestion p {
  margin: 0;
}